/* CSS for app */

.btnGreen{
	-fx-background-color:  #3cbc53;
}

.background{
	-fx-background-color: DODGERBLUE;
}
.buttonYellow{
    -fx-background-color: #EF9C00;
}
.buttonRed{
    -fx-background-color: #FF0000;
}

